.facts-img {
    padding: 30px 0;
    object-fit: scale-down;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    width: 30vw;
    top: -200px;
}

.facts-top-edge-img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 3;
}

#facts {
    z-index: 3;
    position: relative;
    background-color: #fff;
    display: block;
}