.facts-img, .facts-img-background, .facts-img-bottom {
    padding: 0;
    object-fit: scale-down;
    max-height: 300px;
    position: absolute;
    bottom: -1px;
    z-index: -1;
}

.facts-top-edge-img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 3;
}

#facts {
    z-index: 3;
    position: relative;
    /*background-color: #fff;*/
    color: #fff;
    display: block;
    background: rgb(0, 0, 27);
    background: linear-gradient(180deg, rgba(0, 0, 27, 1) 0%, rgba(20, 48, 86, 1) 80%);
    padding-bottom: 50px;

}

@media screen and (max-width: 600px) {
    .facts-img, .facts-img-background, .facts-img-bottom {
        height: 25vh;
        right: 0;
    }
}