blockquote {
    border-left-color: #fff;
}

.bold {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}


body, html  {
    padding: 0;
    margin: 0;
}

.fixed-action-btn .btn-floating {
    background-color: #143056;
    border: 1px solid #00001B;
}

.sidenav {
    background-color: #00001B;
}

.sidenav li>a{
    color: #fff;
}
