
.home-page-nav {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    display: block;
}
.home-page-nav h2 a {
    transition: letter-spacing 200ms ease;
}

.home-page-nav h2 a:hover {
    opacity: .75;    letter-spacing: 0.1rem;

}

#home-page {
    background-color: #143056;
    height: 100vh;
}

.home-page-img {
    background: url("../../assets/IVAN.png");
    height: 48vh;
    width: 100%;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    text-align: center;
    display: block;
}

/* Place text in the middle of the image */
.hero-text {
    font-family: 'Passion One', cursive;
    font-weight: 800;
    width: 100%;
    font-size: 10em;
    letter-spacing: 1rem;
    position: absolute;
    color: #143056;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .hero-text {
        /*font-size: 6em;*/
    }
}