table.striped>tbody>tr:nth-child(odd) {
    background: #143056;
}

#skills {
    background-color: #00001B;
    padding: 0;
}

#skills table {
    color: #fff;
    margin-bottom: 50px;
}

.night__edge--img {
    background: transparent;
    display: block;
}