table.striped>tbody>tr:nth-child(odd) {
    background: #143056;
}

#skills {
    background-color: #00001B;
    padding: 0;
    z-index: 3;
    position: relative;
    /*margin-bottom: 500px;*/
}

#skills table {
    color: #fff;
    margin-bottom: 50px;
}

.night__edge--img {
    background: transparent;
    display: block;
    z-index: 3;
    margin-bottom: 70vh;
    position: relative;


}

