#education {
    background-color: #fff;
    color: #fff;
    padding: 50px 0;
    margin-bottom: 0px;
    z-index: 3;
}
.education-img {
    max-height: 350px;
    margin: 70px 0;
}

#education:before {
    height: 200px;
    width: 100%;

}


.night-bottom {
    position: absolute;
    width: 100%;
    bottom: -200px;
    z-index: 1;
    background: transparent;
}


@media screen and (max-width: 600px) {
    #education .container {
        padding-top: 30px;
    }
}